/*
 * 主题定义
 */

// UI预设分辨率
$screen-width: 1920px;
// 中文字体
$font-family: 'PingFangSC',
'helvetica neue',
'hiragino sans gb',
'arial',
'microsoft yahei ui',
'microsoft yahei',
'simsun',
'sans-serif' !important;
// 字体大小
$font-size-root: 20px;
$font-size-frame: 12px;
$font-size-extra-large: rem(20px);
$font-size-large: rem(18px);
$font-size-semibold: rem(16px);
$font-size-normal: rem(14px);
$font-size-small: rem(12px);
